// Placeholders:
//
// ((gallery)) => Gallery content (titles and images)
// ((title)) => Title of the gallery
// ((image)) => URL of the image in full resolution
// ((thumb)) => URL of teh thumbnail image
//
/////////////////////////////////////////////////////


// This is the outer gallery container in which the title and images are displayed
/////////////////////////////////////////////////////
###gallery_start###
<div class="gallery">((gallery))</div>
###gallery_end###


// This is the wrapper for the title
/////////////////////////////////////////////////////
###title_start###
<h2 style="margin:20px 0 10px;">((title))</h2>
###title_end###

// HTML for a single image
/////////////////////////////////////////////////////
###image_start###
<a class="photo" rel="((title))" href="((image))"><img src="((thumb))"/></a>
###image_end###